@charset "UTF-8";
:root{
    --fundo:rgb(67, 139, 187);
    --caixa:rgb(231, 231, 231);
    --titulo:rgb(255, 255, 255);
    --texto:rgb(0, 0, 0);
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: var(--texto);
}
body{
    background-color: var(--fundo);
}
div#conte{
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%,-50%);
}
header > h1{
    margin-bottom: 15px;

    font-size: 1.5rem;
    text-align: center;
    color:var(--titulo);   

}
section{
    margin: auto;

    width:330px;
    height: 350px;

    background-color: var(--caixa);
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.346);
    border-radius: 20px;
    text-align: center;


}
#sec{
    display:inline-block;
    
    padding:20px 20%;
    margin-top: 20px;

}
#flista{
    width: 200px;
    text-align: center;
}
#flista > option{
    color: var(--fundo);

}
#add{
    height: 26px;
}
#sec1{
    display:inline-block;

    margin-top: 20px;
    padding: 20px 20%;
}
footer{
    margin-top: 15px;

}
footer > p{
    color: var(--titulo);
    text-align: center;
    font-style: italic;
    
}

